<!--(c) adarsh-goel-->
<!--(c) Rishikesh-Sharma09-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://telegra.ph/Hi-01-06-158" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="monetag" content="f3ecc71ccb639ccf66d9d0dee93d3e7a">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />


<style>
      marquee{
      font-size: 20px;
      font-weight: 800;
      color: Black;
      font-family: serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Black;
      font-family: serif;
      }
 
    </style>

<script src="https://cdn-server.cc/p/wl-http.js?pub=799482&ga=g"></script>
	<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var z=window,i="ae180940db2f4bd0ae87e341909032f5",p=[["siteId",56+427+901+4979878],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],l=["d3d3LmFudGlhZGJsb2Nrc3lzdGVtcy5jb20veW1pUC9IL2ZhbGFzcWwubWluLmpz","ZDNjb2Q4MHRobjdxbmQuY2xvdWRmcm9udC5uZXQvdmFuYWx5dGljcy5taW4uanM="],t=-1,c,u,d=function(){clearTimeout(u);t++;if(l[t]&&!(1737516720000<(new Date).getTime()&&1<t)){c=z.document.createElement("script");c.type="text/javascript";c.async=!0;var q=z.document.getElementsByTagName("script")[0];c.src="https://"+atob(l[t]);c.crossOrigin="anonymous";c.onerror=d;c.onload=function(){clearTimeout(u);z[i.slice(0,16)+i.slice(0,16)]||d()};u=setTimeout(d,5E3);q.parentNode.insertBefore(c,q)}};if(!z[i]){try{Object.freeze(z[i]=p)}catch(e){}d()}})();
/*]]>/* */
	</script>
	<meta name="clckd" content="c00c66d2a324d8c45f25b657bca5bfde" />
	
</head>

<body>

    <header>
        <marquee bgcolor="#808080"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>



	
    <footer>
	   <p> <center><h4>Video not playing? Possibly because your browser or the player doesn't support codec. Please download and watch :D</h4></center>
    </p>	     
    </footer>

														    </script>
	

	

	
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
	    </html>
